doctype html
html(lang="en", ng-app="SteamAvgPct", ng-controller="MainCtrl")
    head
        meta(charset="utf-8")

        title Steam Avg. Percent
        link(rel="shortcut icon",href="favicon.ico")
        link(href="css/lib.css", rel="stylesheet")
        link(href="css/main.min.css", rel="stylesheet")

    body
        script(src="js/lib.js")
        script(src="js/main.min.js")