doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        title Steam Avg. Percent

        link(rel="shortcut icon",href="favicon.ico")

        link(href="css/main.min.css", rel="stylesheet")
        link(href="css/lib.css", rel="stylesheet")

    body
        script(src="js/lib.js")
        script(src="js/main.min.js")